<!-- Config file for the game -->

<config>
  <app>
    <title>Fire and Ice</title>
    <organization>UPC - DevRookies</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="960" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <tile_name>platforms1.tmx</tile_name>
  </scene>

  <scene2>
    <tile_name>platforms2.tmx</tile_name>
  </scene2>
  
  <audio>
    <default_music_fade_time value="2.0"/>
	<lvl1_music_name>military_madness.ogg</lvl1_music_name>
	<lvl2_music_name>Auto_Pilot.ogg</lvl2_music_name>
	<jump_fx_name>Jump.wav</jump_fx_name>
	<dead_fx_name>negative_beeps.wav</dead_fx_name>
    <volume value="128"/>
  </audio>

  </audio>
  
  <map>
    <folder>maps/</folder>
  </map>

</config>