<!-- Config file for the game -->

<config>
  <app framerate_cap="16">
    <title>Fire and Ice</title>
    <organization>UPC - DevRookies</organization>
  </app>
	
  <render>
    <vsync value="false"/>
    <camera x="0" y="0" speed="1" max="5119"/>
    <start_time value ="120"/>
  </render>

  <window>
    <resolution width="1280" height="960" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <tile_name_scene1>platforms1.tmx</tile_name_scene1>
	  <lvl1_music_name>spaghetti_guitar_in_space.ogg</lvl1_music_name>
    <tile_name_scene2>platforms2.tmx</tile_name_scene2>
    <lvl2_music_name>Escape.ogg</lvl2_music_name>
    <camera x="0" y="0" />    
  </scene>

  <audio>
    <default_music_fade_time value="2.0"/>
    <volume value="128"/>
    <volume_fx value="70"/>
	  <volume_change_ratio value="25"/>
    <mute value="false"/>
	  <music> 
      <folder>audio/music/</folder>
    </music>
   	<sfx> 
      <folder>audio/fx/</folder>
    </sfx>
  </audio>

  <player>
    <texture>textures/character.png</texture>
    <position x="0" y="0"/>
    <speed x="0" y="0"/>
    <acceleration x="0.8f" y="0.4f"/>
    <max_speed x="4" y="4"/>
    <jump_speed value="1"/>
    <max_jump_speed value="70"/>
    <jump_fx_name source="Jump.wav"/>
    <dead_fx_name source="negative_beeps.wav"/>
    <victory_fx_name source="Ta Da.wav"/>
    <animations>
      <idle_fire speed="0.1F" loop="true">
        <frame x="2021" y="0" width="55" height="56"/>
        <frame x="2077" y="0" width="56" height="56"/>
        <frame x="2133" y="0" width="55" height="56"/>
        <frame x="2189" y="0" width="55" height="56"/>
      </idle_fire>
      <run_fire speed="0.2F" loop="true">
        <frame x="2065" y="58" width="59" height="55"/>
        <frame x="2125" y="58" width="59" height="55"/>
        <frame x="2184" y="58" width="60" height="57"/>
        <frame x="2125" y="58" width="59" height="55"/>
      </run_fire>;
      <jump_fire>
        <frame x="2184" y="58" width="60" height="57"/>
      </jump_fire>
      <die_fire speed="0.2F" loop ="false">
        <frame x="2191" y="384" width="53" height="63"/>
        <frame x="2131" y="384" width="59" height="63"/>
        <frame x="2070" y="384" width="60" height="63"/>
        <frame x="2009" y="384" width="60" height="63"/>
      </die_fire>
      <hit_fire speed="0.2F" loop ="false">
        <frame x="2191" y="384" width="53" height="63"/>
        <frame x="2131" y="384" width="59" height="63"/>
        <frame x="2070" y="384" width="60" height="63"/>
        <frame x="2009" y="384" width="60" height="63"/>
      </hit_fire>
      <idle_ice speed="0.1F" loop="true">
        <frame x="1797" y="0" width="55" height="56"/>
        <frame x="1853" y="0" width="56" height="56"/>
        <frame x="1909" y="0" width="55" height="56"/>
        <frame x="1965" y="0" width="55" height="56"/>
      </idle_ice>
      <run_ice speed="0.2F" loop="true">
        <frame x="1885" y="58" width="59" height="56"/>
        <frame x="1945" y="58" width="59" height="56"/>
        <frame x="2004" y="58" width="60" height="57"/>
        <frame x="1945" y="58" width="59" height="56"/>
      </run_ice>;
      <jump_ice>
        <frame x="2004" y="58" width="60" height="57"/>
      </jump_ice>
      <die_ice speed="0.2F" loop ="false">
        <frame x="1954" y="384" width="53" height="63"/>
        <frame x="1894" y="384" width="59" height="63"/>
        <frame x="1834" y="384" width="60" height="63"/>
        <frame x="1773" y="384" width="60" height="63"/>
      </die_ice>
      <hit_ice speed="0.2F" loop ="false">
        <frame x="1954" y="384" width="53" height="63"/>
        <frame x="1894" y="384" width="59" height="63"/>
        <frame x="1834" y="384" width="60" height="63"/>
        <frame x="1773" y="384" width="60" height="63"/>
      </hit_ice>
    </animations>
  </player>
  
  <map>
    <folder>maps/</folder>
    <parallax_speed value="2.0f"/>
  </map>

</config>