<!-- Config file for the game -->

<config>
  <app>
    <framerate_cap rate="33" enabled="true"/>
    <title>Fire and Ice</title>
    <organization>UPC - DevRookies</organization>
    <save>save_game.xml</save>
  </app>
	
  <render>
    <vsync value="false"/>
    <camera x="0" y="0" speed="100" max="5119"/>
    <start_time value ="90"/>
  </render>

  <window>
    <resolution width="1280" height="960" scale="1"/>
    <fullscreen value="true"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>
  
  <map>
    <folder>maps/</folder>
    <parallax_speed value="1"/>
  </map>
  
  <scene>
    <tile_name_scene0>platforms0.tmx</tile_name_scene0>
    <lvl0_music_name>BloodyTears.ogg</lvl0_music_name>
    <tile_name_scene1>platforms1.tmx</tile_name_scene1>
	  <lvl1_music_name>spaghetti_guitar_in_space.ogg</lvl1_music_name>
    <tile_name_scene2>platforms2.tmx</tile_name_scene2>
    <lvl2_music_name>Escape.ogg</lvl2_music_name>
    <press_fx_name source="Buttonsfx.wav"/>
    <camera x="0" y="0" />
    <godmode_tex x="0" y="0">textures/godmode.png</godmode_tex>
    <rects>
      <windows_rect>
        <rect x="11" y="962" width="681" height="453"/>
      </windows_rect>
      <title_rect>
        <rect x="560" y="1456" width="518" height="134"/>
      </title_rect>
      <license_rect>
        <rect x="10" y="1470" width="447" height="268"/>
      </license_rect>
      <coins_rect>
        <rect x="7" y="834" width="216" height="77"/>
      </coins_rect>
      <life_rect>
        <rect x="245" y="834" width="217" height="77"/>
      </life_rect>
      <score_rect>
        <rect x="497" y="842" width="308" height="66"/>
      </score_rect>
      <lock_rect>
        <rect x="379" y="238" width="115" height="113"/>
      </lock_rect>
      <play_normal>
        <rect x="255" y="120" width="115" height="114"/>
      </play_normal>
      <play_hovered>
        <rect x="4" y="120" width="115" height="114"/>
      </play_hovered>
      <play_pressed>
        <rect x="129" y="120" width="116" height="114"/>
      </play_pressed>
      <continue_normal>
        <rect x="254" y="238" width="116" height="114"/>
      </continue_normal>
      <continue_hovered>
        <rect x="4" y="238" width="114" height="113"/>
      </continue_hovered>
      <continue_pressed>
        <rect x="128" y="238" width="116" height="113"/>
      </continue_pressed>
      <settings_normal>
        <rect x="254" y="354" width="116" height="113"/>
      </settings_normal>
      <settings_hovered>
        <rect x="4" y="354" width="114" height="113"/>
      </settings_hovered>
      <settings_pressed>
        <rect x="128" y="354" width="116" height="113"/>
      </settings_pressed>
      <credits_normal>
        <rect x="254" y="472" width="116" height="114"/>
      </credits_normal>
      <credits_hovered>
        <rect x="4" y="472" width="114" height="114"/>
      </credits_hovered>
      <credits_pressed>
        <rect x="128" y="472" width="116" height="114"/>
      </credits_pressed>
      <exit_normal>
        <rect x="254" y="593" width="116" height="113"/>
      </exit_normal>
      <exit_hovered>
        <rect x="4" y="593" width="114" height="113"/>
      </exit_hovered>
      <exit_pressed>
        <rect x="128" y="593" width="116" height="113"/>
      </exit_pressed>
      <resume_normal>
        <rect x="255" y="713" width="115" height="113"/>
      </resume_normal>
      <resume_hovered>
        <rect x="4" y="713" width="115" height="113"/>
      </resume_hovered>
      <resume_pressed>
        <rect x="129" y="713" width="116" height="113"/>
      </resume_pressed>
      <back_menu_normal>
        <rect x="769" y="121" width="115" height="113"/>
      </back_menu_normal>
      <back_menu_hovered>
        <rect x="517" y="121" width="116" height="113"/>
      </back_menu_hovered>
      <back_menu_pressed>
        <rect x="643" y="121" width="116" height="113"/>
      </back_menu_pressed>
      <slider_normal>
        <rect x="641" y="559" width="53" height="51"/>
      </slider_normal>
      <slider_hovered>
        <rect x="527" y="559" width="53" height="51"/>
      </slider_hovered>
      <slider_pressed>
        <rect x="584" y="559" width="53" height="51"/>
      </slider_pressed>
      <slider_rect>
        <rect x="17" y="917" width="219" height="34"/>
      </slider_rect>
      <mute_music_normal>
        <rect x="1026" y="357" width="115" height="113"/>
      </mute_music_normal>
      <mute_music_hovered>
        <rect x="1026" y="121" width="115" height="113"/>
      </mute_music_hovered>
      <mute_fx_normal>
        <rect x="1026" y="236" width="115" height="116"/>
      </mute_fx_normal>
      <mute_fx_hovered>
        <rect x="1026" y="0" width="115" height="116"/>
      </mute_fx_hovered>
      <little_back_menu_normal>
        <rect x="640" y="620" width="55" height="54"/>
      </little_back_menu_normal>
      <little_back_menu_hovered>
        <rect x="523" y="620" width="54" height="54"/>
      </little_back_menu_hovered>
      <little_back_menu_pressed>
        <rect x="581" y="620" width="55" height="54"/>
      </little_back_menu_pressed>
      <music_normal>
        <rect x="769" y="358" width="115" height="113"/>
      </music_normal>
      <music_hovered>
        <rect x="517" y="358" width="116" height="113"/>
      </music_hovered>
      <music_pressed>
        <rect x="643" y="358" width="116" height="113"/>
      </music_pressed>
      <fx_normal>
        <rect x="769" y="239" width="115" height="114"/>
      </fx_normal>
      <fx_hovered>
        <rect x="517" y="239" width="116" height="114"/>
      </fx_hovered>
      <fx_pressed>
        <rect x="643" y="239" width="116" height="114"/>
      </fx_pressed>
      <minus_normal>
        <rect x="599" y="518" width="33" height="32"/>
      </minus_normal>
      <minus_hovered>
        <rect x="528" y="518" width="33" height="32"/>
      </minus_hovered>
      <minus_pressed>
        <rect x="563" y="518" width="34" height="32"/>
      </minus_pressed>
      <plus_normal>
        <rect x="599" y="485" width="33" height="32"/>
      </plus_normal>
      <plus_hovered>
        <rect x="528" y="485" width="33" height="32"/>
      </plus_hovered>
      <plus_pressed>
        <rect x="563" y="485" width="34" height="32"/>
      </plus_pressed>
      <web_normal>
        <rect x="664" y="679" width="67" height="66"/>
      </web_normal>
      <web_hovered>
        <rect x="520" y="679" width="66" height="66"/>
      </web_hovered>
      <web_pressed>
        <rect x="592" y="679" width="67" height="66"/>
      </web_pressed>
    </rects>
  </scene>

  <audio>
    <default_music_fade_time value="2.0"/>
    <volume value="100"/>
	  <volume_change_ratio value="10"/>
    <mute value="false"/>
	  <music> 
      <folder>audio/music/</folder>
    </music>
   	<sfx> 
      <folder>audio/fx/</folder>
    </sfx>
  </audio>

  <entitymanager>
    <player>
      <texture>textures/character.png</texture>
      <position x="0.0f" y="0.0f"/>
      <collider width="40.0f" height="52.0f"/>
      <speed x="0.0f" y="0.0f"/>
      <acceleration x="1.0f" y="0.8f"/>
      <max_speed x="250.0f" y="300.0f"/>
      <hit_speed value="300.0f"/>
      <jump_cont_start value="10"/>
      <jump_fx_name source="jump.wav"/>
      <dash_fx_name source="dash.wav"/>
      <dead_fx_name source="negative_beeps.wav"/>
      <victory_fx_name source="ta_da.wav"/>
      <die_fx_name source="agh.wav"/>
      <coin_fx_name source="coin.wav"/>
      <animations>
        <idle_fire speed="5.1F" loop="true">
          <frame x="2021" y="0" width="55" height="56"/>
          <frame x="2077" y="0" width="56" height="56"/>
          <frame x="2133" y="0" width="55" height="56"/>
          <frame x="2189" y="0" width="55" height="56"/>
        </idle_fire>
        <run_fire speed="5.2F" loop="true">
          <frame x="2065" y="58" width="59" height="55"/>
          <frame x="2125" y="58" width="59" height="55"/>
          <frame x="2184" y="58" width="60" height="57"/>
          <frame x="2125" y="58" width="59" height="55"/>
        </run_fire>;
        <jump_fire speed="5.1F" loop ="true">
          <frame x="2184" y="58" width="60" height="57"/>
        </jump_fire>
        <die_fire speed="5.15F" loop ="false">
          <frame x="2191" y="384" width="53" height="63"/>
          <frame x="2131" y="384" width="59" height="63"/>
          <frame x="2070" y="384" width="60" height="63"/>
          <frame x="2009" y="384" width="60" height="63"/>
        </die_fire>
        <hit_fire speed="16.8F" loop ="true">
          <frame x="1134" y="246" width="68" height="51"/>
          <frame x="1205" y="237" width="73" height="62"/>
          <frame x="1284" y="233" width="81" height="71"/>
          <frame x="1369" y="233" width="96" height="71"/>
          <frame x="1469" y="233" width="105" height="71"/>
          <frame x="1578" y="228" width="91" height="74"/>
          <frame x="1672" y="231" width="83" height="72"/>
          <frame x="1760" y="238" width="84" height="67"/>
          <frame x="1848" y="235" width="105" height="70"/>
          <frame x="1961" y="233" width="108" height="70"/>
          <frame x="2078" y="239" width="83" height="70"/>
          <frame x="1134" y="246" width="68" height="51"/>
        </hit_fire>
        <godmode speed="5.1F" loop ="true">
          <frame x="1205" y="237" width="73" height="62"/>
          <frame x="2078" y="239" width="83" height="70"/>
        </godmode>
        <idle_ice speed="5.1F" loop="true">
          <frame x="1797" y="0" width="55" height="56"/>
          <frame x="1853" y="0" width="56" height="56"/>
          <frame x="1909" y="0" width="55" height="56"/>
          <frame x="1965" y="0" width="55" height="56"/>
        </idle_ice>
        <run_ice speed="5.2F" loop="true">
          <frame x="1885" y="58" width="59" height="56"/>
          <frame x="1945" y="58" width="59" height="56"/>
          <frame x="2004" y="58" width="60" height="57"/>
          <frame x="1945" y="58" width="59" height="56"/>
        </run_ice>;
        <jump_ice speed="5.1F" loop ="true">
          <frame x="2004" y="58" width="60" height="57"/>
        </jump_ice>
        <die_ice speed="5.1F" loop ="false">
          <frame x="1954" y="384" width="53" height="63"/>
          <frame x="1894" y="384" width="59" height="63"/>
          <frame x="1834" y="384" width="60" height="63"/>
          <frame x="1773" y="384" width="60" height="63"/>
        </die_ice>
        <hit_ice speed="16.8F" loop ="true">
          <frame x="0" y="251" width="68" height="51"/>
          <frame x="73" y="243" width="73" height="62"/>
          <frame x="152" y="236" width="81" height="71"/>
          <frame x="238" y="238" width="96" height="71"/>
          <frame x="331" y="238" width="105" height="71"/>
          <frame x="435" y="240" width="105" height="71"/>
          <frame x="544" y="240" width="88" height="71"/>
          <frame x="638" y="240" width="88" height="71"/>
          <frame x="728" y="240" width="105" height="71"/>
          <frame x="841" y="240" width="108" height="73"/>
          <frame x="956" y="240" width="83" height="70"/>
          <frame x="1060" y="251" width="68" height="51"/>
        </hit_ice>
      </animations>
    </player>

    <JrGargoyle>
      <texture>textures/JrGargoyle.png</texture>
      <speed x="0.0f" y="0.0f"/>
      <acceleration x="0.8f" y="0.6f"/>
      <max_speed x="50.0f" y="50.0f"/>
      <animations>
        <idle speed="5.1F" loop="true">
          <frame x="1" y="1" width="77" height="110"/>
          <frame x="99" y="34" width="76" height="76"/>
          <frame x="199" y="33" width="88" height="77"/>
          <frame x="307" y="18" width="97" height="92"/>
        </idle>
        <fly speed="5.2F" loop="true">
          <frame x="1" y="110" width="77" height="104"/>
          <frame x="96" y="144" width="76" height="70"/>
          <frame x="192" y="143" width="87" height="71"/>
          <frame x="297" y="129" width="97" height="85"/>
        </fly>
        <die speed="5.2F" loop ="false">
          <frame x="1" y="282" width="86" height="81"/>
          <frame x="109" y="230" width="97" height="132"/>
          <frame x="236" y="221" width="77" height="141"/>
          <frame x="343" y="215" width="77" height="146"/>
          <frame x="446" y="249" width="77" height="111"/>
        </die>
      </animations>
    </JrGargoyle>

    <OfficerSkeleton>
      <texture>textures/OfficerSkeleton.png</texture>
      <speed x="0.0f" y="0.0f"/>
      <acceleration x="0.8f" y="0.6f"/>
      <max_speed x="50.0f" y="100.0f"/>
      <animations>
        <idle speed="5.1F" loop="true">
          <frame x="0" y="0" width="82" height="93"/>
          <frame x="103" y="1" width="82" height="92"/>
          <frame x="208" y="2" width="83" height="91"/>
          <frame x="317" y="1" width="82" height="92"/>
        </idle>
        <walk speed="5.2F" loop="true">
          <frame x="0" y="96" width="82" height="93"/>
          <frame x="108" y="94" width="84" height="95"/>
          <frame x="218" y="96" width="82" height="93"/>
          <frame x="327" y="94" width="84" height="95"/>
        </walk>
        <die speed="5.2F" loop ="false">
          <frame x="0" y="189" width="82" height="93"/>
          <frame x="102" y="207" width="89" height="75"/>
          <frame x="216" y="218" width="89" height="64"/>
          <frame x="329" y="203" width="89" height="79"/>
          <frame x="442" y="223" width="68" height="59"/>
          <frame x="544" y="223" width="49" height="59"/>
        </die>
      </animations>
    </OfficerSkeleton>

    <Coin>
      <texture>textures/Coin.png</texture>
      <animations>
        <flip speed="5.1F" loop="true">
          <frame x="0" y="0" width="23" height="24"/>
          <frame x="25" y="0" width="25" height="24"/>
          <frame x="52" y="0" width="23" height="24"/>
          <frame x="77" y="0" width="5" height="24"/>
        </flip>
      </animations>
    </Coin>
    
  </entitymanager>

</config>